@CHARSET "ISO-8859-1";
body{
	background-color:black;
	color:white;
	background-image:url('images/bloodplane.jpg');
	background-repeat: no-repeat;
	 background-size: 100%;
}

table {
  border-collapse:collapse;
   font-style:italic;
  color:white;
marign-left:30%;
}
th, td {
  padding: 15px;
}
button{
	hover:brown;
}